.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  .nav-links {
    align-items: center;
    .nav-item {
      font-size: 1.3rem;
    }
  }
  .contact {
    .links {
      width: 3rem;
      margin: 0;
    }
  }
}
